* {
    background:                  #000000;
    foreground:                  #C9D6DF;

    normal-background:           rgba(0, 0, 0, 0%);
    normal-foreground:           @foreground;

    alternate-normal-background: rgba(0, 0, 0, 0%);
    alternate-normal-foreground: @foreground;

    active-background:           #3a3a3a;
    active-foreground:           #d9d9d9;

    alternate-active-background: rgba(0, 0, 0, 0%);
    alternate-active-foreground: @active-foreground;

    urgent-background:           #900000;
    urgent-foreground:           #d9d9d9;

    alternate-urgent-background: rgba(0, 0, 0, 0%);
    alternate-urgent-foreground: @urgent-foreground;

    selected-normal-background:  #c4c4c4;
    selected-normal-foreground:  #000000;

    selected-active-background:  #c4c4c4;
    selected-active-foreground:  #000000;

    selected-urgent-background:  #900000;
    selected-urgent-foreground:  #000000;

    border-color:                #c4c4c4;
    separatorcolor:              #666666;

    spacing:                     5;
    font:                        "DejaVu Sans Mono 14";
}

window {
    background-color: @background;
    border:           5;
    padding:          5;
    width:            50%;
}

mainbox {
    padding: 0;
}

message {
    border:       2px 0px 0px;
    border-color: @separatorcolor;
    padding:      2px;
}

listview {
    fixed-height: 0;
    border:       2px 0px 0px;
    border-color: @separatorcolor;
    spacing:      2px;
    scrollbar:    true;
    padding:      2px 0px 0px;
}

element {
    padding: 1px;
    border:  0px;
}

element.normal.normal {
    background-color: @normal-background;
    text-color:       @normal-foreground;
}

element.normal.active {
    background-color: @active-background;
    text-color:       @active-foreground;
}

element.normal.urgent {
    background-color: @urgent-background;
    text-color:       @urgent-foreground;
}

element.selected.normal {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}

element.selected.active {
    background-color: @selected-active-background;
    text-color:       @selected-active-foreground;
}

element.selected.urgent {
    background-color: @selected-urgent-background;
    text-color:       @selected-urgent-foreground;
}

element.alternate.normal {
    background-color: @alternate-normal-background;
    text-color:       @alternate-normal-foreground;
}

element.alternate.active {
    background-color: @alternate-active-background;
    text-color:       @alternate-active-foreground;
}

element.alternate.urgent {
    background-color: @alternate-urgent-background;
    text-color:       @alternate-urgent-foreground;
}

scrollbar {
    handle-width: 5px;
}

mode-switcher {
    border:       2px 0px 0px;
    border-color: @separatorcolor;
}

button.selected {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}

inputbar {
    padding: 3px;
    children: [ prompt, textbox-prompt-colon, entry, case-indicator ];
}

entry,
prompt,
button,
case-indicator {
    text-color: @normal-foreground;
}

textbox-prompt-colon {
    expand:     false;
    str:        ":";
    margin:     0px 0.3em 0px 0px;
    text-color: @normal-foreground;
}